<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/dashboard/src/css/style.css" rel="stylesheet" type="text/css" />

        <title>Merlin Brain</title>
    </head>
    <body>
        <header>
            <a href="/dashboard/">
                <img src="/dashboard/src/img/logo.png" class="logo" alt="Merlin Logo" title="Merlin" />
            </a>
            <nav class="menu">
                <a href="/dashboard/">overview</a>
                <a href="/dashboard/devices.html">devices</a>
                <a href="/dashboard/advanced.html">advanced</a>
            </nav>
        </header>
        <section>
            <h1 class="title">devices</h1>
        </section>
    </body>
</html>
