.devices {
    border: solid 1px black;
    display: block;
    width: 300px;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.devices div {
    height: 40px;
    border-bottom: solid 1px black;
    padding: 10px 20px;
}

.devices div:last-child {
    border-bottom: none;
}

.devices div span {
    font-family: "Lane", monospace;
}

.devices div .name {
    color: black;
    font-size: 18px;
    position: absolute;
    left: 15px;
    margin-top: 2px;
}

.devices div .ip {
    color: rgb(110, 110, 110);
    font-size: 14px;
    position: absolute;
    left: 15px;
    margin-top: 24px;
}

.devices div .status {
    color: black;
    font-size: 18px;
    position: absolute;
    right: 15px;
    margin-top: 8px;
}