.devices {
    border: solid 2px black;
    display: block;
    width: 300px;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.devices div {
    height: 60px;
    width: 100%;
    border-bottom: solid 1px black;
    padding: 10px 20px;
}

.devices div:last-child {
    border-bottom: none;
}

.devices div span {
    font-family: "Lane", monospace;
}

.devices div .name_ip {
    float: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.devices div .name {
    color: black;
    font-size: 18px;
    float: left;
}

.devices div .ip {
    color: rgb(94, 94, 94);
    font-size: 14px;
    float: left;
}

.devices div .value {
    color: black;
    font-size: 18px;
    float: right;
}